{% extends 'zodiac_app/base.html' %}

{% block content %}

<!--<ul class="main_list">-->
<!--    <li><b>Овен</b> <br> управитель Марс дает знаку такие черты как резкость, яркость, живость, энергичность и стремительность.</li>-->
<!--    <li><b>Телец</b> <br> управитель Венера дарует стабильность, уверенность и материальную гармонию.</li>-->
<!--    <li><b>Близнецы</b> <br> управитель Меркурий отвечает за любознательность, общительность, умение налаживать контакты.</li>-->
<!--    <li><b>Рак</b> <br> управитель Луна несет душевность, чувственность, внутреннее спокойствие и умение заботиться о других.</li>-->
<!--    <li><b>Лев</b> <br> управитель Солнце наделяет энергичностью, страстностью, умением быть в центре внимания, устойчивостью и творческим началом.</li>-->
<!--    <li><b>Дева</b> <br> управитель Нептун дарит внимательность, стремление к идеальности и порядку, аккуратность и перфекционизм.</li>-->
<!--    <li><b>Весы</b> <br> управитель Венера отвечает за плавность, мягкость, баланс, красоту и утонченность.</li>-->
<!--    <li><b>Скорпион</b> <br> управитель Плутон несет страсть, интуицию, загадочность, умение видеть суть событий.</li>-->
<!--    <li><b>Стрелец</b> <br> управитель Юпитер дает человеку сообразительность, широту души, тягу к расширению границ, умение вести за собой.</li>-->
<!--    <li><b>Козерог</b> <br> управитель Сатурн привнесет в характер конкретность и дисциплину, умение видеть цель и идти к ней.</li>-->
<!--    <li><b>Водолей</b> <br> управитель Уран отвечает за революционность, новые прорывные идеи, предвосхищение будущего и внутреннюю свобода.</li>-->
<!--    <li><b>Рыбы</b> <br> управитель Плутон подарит творческую жилку, вдохновение, умение копнуть глубоко и наличие своей философии.</li>-->
<!--</ul>-->
<br>
<form action="/date">
    <label for="date">Введите дату рождения:</label><br><br>
    <input type="text" name="date" id="" class="input-date" value="01.01.1991">
    <button type="submit" class="btn btn-warning">Ваш знак зодиака</button>
</form>
<br><br>
<h1>Знаки зодиака</h1><br><br>

<div class="cards">
    {% for zodiac in zodiacs %}

    <a href="horoscope/{{zodiac.slug}}">
        <div class="main_page_images">
        <h1 class="main_page_names">{{zodiac.name}}</h1>
        <img src="../static/zodiac_app/img/{{zodiac.image}}" alt="">
        </div>
    </a>

    {% endfor %}
</div>
<p class="zodiac_text">
    Знак зодиака, в котором находилось Солнце в момент вашего рождения, может многое рассказать о вас. Все знаки имеют свою природу и особенности, которые подскажут, как найти ваш личный путь к успеху. Разобраться в тайнах знаков зодиака поможет астрология.
</p>
<h2>Что такое астрология</h2>
<p class="zodiac_text">
    Астрология — учение, которое описывает влияние планет на жизнь людей, их настоящее и будущее. Главный инструмент астрологии — гороскоп. Он отражает характеристику расположения планет в определенный момент времени по отношению к знакам зодиака. Каждая планета влияет на человека по-разному.
    Солнце, Луна, Меркурий, Венера и Марс — личные планеты. Они находятся ближе всего к Земле, а значит, движутся по зодиаку быстрее всего. Даже если люди родились в один день с разницей в несколько минут, личные планеты могут оказать совершенно разное влияние на них.
</p>
{% endblock %}